@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #050505 !important;
}

body {
    max-width: 1280px;
    @apply max-w-[1440px];
}

p {
    color: #ffffff65;
}

.container {
    @apply px-3 mx-auto;
}
